{% extends 'base.html' %} {% load static %} {% block content %}
<section class="container mt-5">
  <h1 class="h1 my-3 text-center">About Us</h1>
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <img
          src="{% static 'img/welcome.jpg' %}"
          class="card-img-top"
          alt="Leaders"
        />
        <div class="card-body pt-0">
          <h2>Leaders</h2>
          <p class="py-0 text-body-secondary">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas
            earum expedita consequuntur doloremque nisi perspiciatis excepturi
            ea maxime placeat quia ad hic odit ullam explicabo sit vel libero,
            quas assumenda.
          </p>
          <a href="#" class="btn btn-primary">Learn More</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img
          src="{% static 'img/welcome.jpg' %}"
          class="card-img-top"
          alt="Evangelical Team"
        />
        <div class="card-body pt-0">
          <h2>Evangelical Team</h2>
          <p class="py-0 text-body-secondary">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas
            earum expedita consequuntur doloremque nisi perspiciatis excepturi
            ea maxime placeat quia ad hic odit ullam explicabo sit vel libero,
            quas assumenda.
          </p>
          <a href="#" class="btn btn-primary">Learn More</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img
          src="{% static 'img/welcome.jpg' %}"
          class="card-img-top"
          alt="Years Fellowship"
        />
        <div class="card-body pt-0">
          <h2>Years Fellowship</h2>
          <p class="py-0 text-body-secondary">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas
            earum expedita consequuntur doloremque nisi perspiciatis excepturi
            ea maxime placeat quia ad hic odit ullam explicabo sit vel libero,
            quas assumenda.
          </p>
          <a href="#" class="btn btn-primary">Learn More</a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="container-fluid bg-light text-body-tertiary mt-5 p-5">
  <div class="row d-flex flex-wrap px-5">
    <section class="col-md-8 info">
      <h2>Our Mission and Vision</h2>
      <p>
        Our mission is to empower individuals and communities to live out their
        faith and make a positive impact in the world.
      </p>
      <p>
        Our vision is to create a world where people from all backgrounds can
        come together in unity, sharing their faith and supporting one another
        in their spiritual journeys.
      </p>
      <h2>Core Values</h2>
      <ul>
        <li>Unity</li>
        <li>Diversity</li>
        <li>Inclusivity</li>
        <li>Compassion</li>
      </ul>
      <h2>Doctrinal Basis</h2>
      <p>
        We believe in the Bible as the inspired and authoritative Word of God,
        and we are committed to living out our faith in accordance with its
        teachings.
      </p>
    </section>
    <div class="col-md-4">
      <img
        src="{% static 'img/logo.png' %}"
        alt="KSCCU"
        class="w-100 rounded img-fluid object-cover"
        style="height: 400px"
      />
    </div>
  </div>
</section>
{% include 'CallToAction.html' %} {% include 'footer.html' %} {% endblock %}{%
include 'footer.html' %}
