{% extends 'base.html' %}

{% block content %}
<div class="container p-0">
    <div class="row d-flex justify-content-between align-items-center my-3">
        <h2 class="h2 my-auto">E-Library</h2>
        <form method="get" class="form-inline">
            <div class="form-group mr-2">
                <label for="category" class="mr-2">Category:</label>
                <select id="category" name="category" class="form-control">
                    <option value="">All</option>
                    {% for category in categories %}
                        <option value="{{ category.id }}" {% if selected_category_id|default:'' == category.id %}selected{% endif %}>{{ category.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Filter</button>
        </form>
    </div>
    <div class="row">
         <!-- Document List -->
    <ul class="list-group list-unstyled">
        {% for document in documents %}
            <li class="list-group-item d-flex">
                <div class="flex-1">
                    {% if document.thumbnail %}
                    <img src="{{document.thumbnail.url}}" alt="{{document.title}}">
                    {% endif %}
                </div>
                <div class="ml-4">
                    {{ document.title }} ({{ document.get_document_type_display }}) - <a href="{{ document.file.url }}" target="_blank">Download</a>
                <p>{{ document.description }}</p>
                <small>Category: {{ document.category.name }}</small>
                </div>
            </li>
        {% empty %}
            <li class="list-group-item">No documents found.</li>
        {% endfor %}
            <li class="nav-item my-2">
                    <a class="nav-link text-white bg-success px-2 py-1" href="{% url 'event_resources:upload_document' %}">Upload Document</a>
                </li>
    </ul>
    </div>
</div>
{% include 'footer.html' %} {% endblock %}
