<!-- Footer -->
<footer class="footer bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-4">Quick Links</h5>
          <ul class="list-unstyled mb-0">
            <li>
              <a href="#" class="text-muted">About Us</a>
            </li>
            <li>
              <a href="#" class="text-muted">Ministries</a>
            </li>
            <li>
              <a href="{% url 'event_resources:events_list' %}" class="text-muted">Events</a>
            </li>
            <li>
              <a href="#" class="text-muted">Resources</a>
            </li>
            <li>
              <a href="#" class="text-muted">Contact Us</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-4">Social Media</h5>
          <ul class="list-unstyled mb-0">
            <li>
              <a href="#" class="text-muted"><i class="fab fa-facebook-f fa-lg"></i> Facebook</a>
            </li>
            <li>
              <a href="#" class="text-muted"><i class="fab fa-twitter fa-lg"></i> Twitter</a>
            </li>
            <li>
              <a href="#" class="text-muted"><i class="fab fa-instagram fa-lg"></i> Instagram</a>
            </li>
            <li>
              <a href="#" class="text-muted"><i class="fab fa-youtube fa-lg"></i> YouTube</a>
            </li>
            <li>
              <a href="#" class="text-muted"><i class="fab fa-whatsapp fa-lg"></i> WhatsApp</a>
            </li>
            <li>
              <a href="#" class="text-muted"><i class="fab fa-tiktok fa-lg"></i> TikTok</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-4">Contact Us</h5>
          <ul class="list-unstyled mb-0">
            <li>
              <p class="text-muted">123 Dagorreti corner, Nairobi, Kenya</p>
            </li>
            <li>
              <p class="text-muted">Phone: +2540714667091</p>
            </li>
            <li>
              <p class="text-muted">Email: <a href="mailto:ksccu40@gmail.com" class="text-muted">info@ourchurch.com</a></p>
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-4">Subscribe to Our Newsletter</h5>
          <form>
            <div class="form-group">
              <input type="email" class="form-control" placeholder="Enter your email address">
            </div>
            <button type="submit" class="btn btn-primary">Subscribe</button>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <p class="text-center text-muted small">Copyright &copy; 2023 KSCCU. All Rights Reserved.</p>
        </div>
      </div>
    </div>
  </footer>