{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
    <link href="{% static 'css/event_slider.css' %}" rel="stylesheet">
{% endblock %} {% block content %}
<div class="">
  <div class="welcome-image mb-3 roudend">
    <div class="overlay"></div>

    <div class="text-overlay text-center text-white">
      <h1>Welcome to Our Church</h1>
      <p>Join us and become part of our community.</p>
      <button type="button" class="btn btn-primary">Learn More</button>
      <button type="button" class="btn btn-secondary">Join Us</button>
    </div>
  </div>
  <!-- upcoming events section -->
  <section class="container mt-5">
    <h2 class="h2 my-3">Upcoming Events</h2>
    <div id="eventsCarousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        {% for grouped_events in events %}
          <div class="carousel-item {% if forloop.first %}active{% endif %}">
            <div class="row d-flex">
              {% for event in grouped_events %}
                <div class="col-md-4">
                <div class="card mb-4">
                  {% if event.image %}
                  <img
                    src="{{ event.image.url }}"
                    class="card-img-top"
                    alt="{{ event.name }}"
                  />
                  {% endif %}
                  <div class="card-body">
                    <h5 class="card-title">{{ event.name }}</h5>
                    <p class="card-text">
                      {{ event.start_time | date:"F d, Y" }} - {{ event.end_time | date:"F d, Y" }}
                    </p>
                    <p class="card-text">{{ event.description }}</p>
                    <a href="" class="btn btn-primary">Learn more</a>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        {% endfor %}
      </div>
      <a
        class="carousel-control-prev"
        href="#eventsCarousel"
        role="button"
        data-slide="prev"
      >
        <span class="carousel-control-prev-icon text-dark" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a
        class="carousel-control-next"
        href="#eventsCarousel"
        role="button"
        data-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </section>
  <section class="container-fluid bg-light p-5">
    <div class="container">
      <h2>Upcoming Sermons</h2>
      <div class="row">
        {% for sermon in sermons %}
        <div class="col-md-4 sermon-col">
          <div class="card mb-4">
            {% if sermon.video_link %}
              <div class="embed-responsive embed-responsive-16by9">
                <iframe
                  class="embed-responsive-item"
                  src="https://www.youtube.com/embed/{{ sermon.video_link }}"
                  allowfullscreen
                ></iframe>
              </div>
              {% endif %}
            <div class="card-body">
              <h5 class="card-title">{{ sermon.title }}</h5>
              <p class="card-text">
                <strong>Speaker:</strong> {{ sermon.speaker }}
              </p>
              <p class="card-text">
                <strong>Date:</strong> {{ sermon.date|date:"F d, Y" }}
              </p>
              <p class="card-text">{{ sermon.description|truncatewords:20 }}</p>
              <a href="https://youtu.be/{{sermon.video_link}}" target="_blank" class="w-100 btn btn-primary my-3">Learn more</a>
            </div>
          </div>
        </div>
        {% empty %}
        <p>No sermons found.</p>
        {% endfor %}
      </div>
      <div class="row d-flex justify-content-center mt-3">
        <a href="https://www.youtube.com/@ksccufamily" class="btn btn-danger" target="_blank">View More on Youtube</a>
      </div>
    </div>
  </section>
  {% include 'CallToAction.html' %}
  {% include 'footer.html' %} {% endblock %}
  <script>
    $('#eventsCarousel').carousel({
            interval: 3000 // 3 seconds
    });
</script>
</div>
