{% extends 'base.html' %}
{% block title %}Login Page{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row my-4">
    <div class="col-md-6 offset-md-3">
        <div class="border p-3 bg-white">
            <h4>Login Page</h4>
            <hr>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <input class="btn btn-success" type="submit" value="Login">
            </form>
        </div>
    </div>
</div>

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
    {% endfor %}
{% endif %}

{% if form.errors %}
    <div class="alert alert-danger">
        <ul>
            {% for field in form %}
                {% if field.errors %}
                    <li>{{ field.label }}:</li>
                    <ul>
                        {% for error in field.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
{% endif %}

{% if next %}
    <input type="hidden" name="next" value="{{ next }}">
{% endif %}

{% endblock %}

{% block extra_js %}
<script>
    document.querySelector('input[name="next]"').value = "{{ request.GET.next|default:'' }}";
</script>
{% endblock %}