{% extends "base.html" %} {% block content %}
<div class="container mt-5">
  <div class="row">
    <form
      method="post"
      class="col-5 d-flex bg-light flex-column p-4"
      novalidate
    >
      <h2 class="mb-4">Create Topic</h2>
      {% csrf_token %}
      <div class="mb-3 d-flex align-items-center">
        <label for="title" class="mr-4">Title: </label>
        <input
          type="text"
          name="title"
          class="w-full form-control"
          id="title"
        />
      </div>
      <div class="mb-3 d-flex align-items-center">
        <label for="description" class="mr-4">Description</label>
        <textarea
          name="description"
          rows="3"
          class="form-control"
          id="description"
        ></textarea>
      </div>
      <button type="submit" class="btn btn-primary mt-3">Create</button>
      <a
        href="{% url 'event_resources:topic_list' %}"
        class="btn btn-secondary mt-3"
        >Back to Topics</a
      >
    </form>
  </div>
</div>
{% endblock %}
