{% extends "base.html" %}

{% block content %}
<section class="container">
    <div class="d-flex justify-content-between align-items-center my-3">
        <h2 class="my-auto">Topics</h2>
        <a href="{% url 'event_resources:create_topic' %}" class="btn btn-primary">Create New Topic</a>
    </div>

    <div class="row">
        {% for topic in topics %}
        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ topic.title }}</h5>
                    <p class="card-text">{{ topic.description }}</p>
                    <a href="{% url 'event_resources:topic_detail' topic.pk %}" class="btn btn-primary">View Topic</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}
